body{
    width: 1396px;
    height: 970px;
    background: linear-gradient(90deg, #57CB9B 0%, #1C1515 100%);
    margin-left: 44px;
    margin-top: 46px;
   
}
.box1{
    width:987px;
    height: 654px;
    padding: 8px 20px 8px 20px;
    border-radius: 16px 0 0 0;
    border: 1px solid #000;
    background: linear-gradient(240deg, rgba(100, 196, 207, 0.70) 39.79%, rgba(122, 225, 81, 0.70) 72.59%);
   
    position: relative;
        
}
.box3{
    width: 987px;
    height: 292px;
    background-color:lightgray;
    padding: 8px 20px 8px 20px;
    border: 1px;

    position:absolute;
    top: 717px;
    left: 44px;
    /* right: 369px; */
    /* bottom: -102px; */
}
.menu{
display: inline-flex;
padding: 10px 0;
align-items: center;
gap: 64px;
margin: 16px;

}
.ReadGita{
display: inline-flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: #FFF;
position: absolute;
top: 24px;
right: 31px;

}
h1{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 13px;
align-self: stretch;

}

.despara{
display: flex;
width: 409px;
height: 80px;
flex-direction: column;
justify-content: center;
color: #364153;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;

}
.box2{
width: 200px;
height: 300px;
border-radius: 28px 0 28px 28px;
border: 1px solid #C3BFBF;
background: url('krishna photos/download (7).jpg') lightgray 0.801px -0.291px / 100% 131.73% no-repeat;
box-shadow: 0 4px 10px 4px rgba(77, 43, 43, 0.25);
position: absolute;
right: 70px;
top: 140px;

}
.navbar{
display: flex;
width: 900px;
height: 51px;
padding: 10px;
justify-content: space-between;
align-items: center;
margin: 180px 0px 87px 0px;
}
.float-name{
display: inline-flex;
padding: 10px;
color: hsl(255, 12%, 80%);
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 0px 8px;
background: rgba(92, 111, 187, 0.50);

position:absolute;
top: 30px;
right: -40px;
}
.float-role{
    color: hsl(255, 12%, 80%);
    background: rgba(92, 111, 187, 0.50);
    border-radius: 8px 0px ;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap:10px;

    position: absolute;
    top: 150px;
    left: -50px;
}
.Explore{
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #56AAAA;
    position: absolute;
    left: 16px;
    
}

.box4{
width: 272.544px;
height: 216px;
background: url('krishna photos/download (5).jpg') rgb(130, 40, 40) 0px -46.463px / 105.304% 121.388% no-repeat;
position: absolute;
top: 41px;
bottom: 58px;
left: 76px;
right: 678.46px;

}
.line{
width: 987px;
height: 2px;
background: linear-gradient(90deg, #1AD63D 50%,#287CCF 50%);
position: absolute;
top: 285px; 
bottom: 30px;
}
.line_text{
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;

position: absolute;
left: 351px;
right: 350px;
bottom:14px;
top: 291px;
    
}
.headerTextBox3{
display: flex;
height: 37px;
flex-direction: column;
justify-content: center;
align-self: stretch;
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.48px;

position: absolute;
top: 75px;
left: 380px;
right:118px;

}
.desTextBox3{
 color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
position: absolute;
top: 112px;
bottom: 196px;
left: 380px;
right: 194px;
}
.learnmore{
width: 80px;
height: 26px;
padding: 2px;
border-radius: 3.094px;
position: absolute;
top: 169px;
left: 380px;
bottom: 125px;
right: 594px;
}
.learnmore:hover{
    background-color:yellowgreen;

}
.box5{
    height: 1024px;
    width: 340px;
    background-color: #000;
    align-content: end;
    position: absolute;
    right: 0px;
    top:0px;
    bottom:0px;
}
.pod{
   
    width: 340px;
    background-color: #FFF;
    height: 340px;

    position: absolute;
    top:0px;
}
.pod p{
color: #1E2939;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
position: absolute;
top: 50px;
left: 35px;
}
.pod-image{
display: flex;
width: 306px;
height: 146px;

border-radius: 12px 0 0 12px;
background: url('krishna photos/images.jpg') lightgray 50% / cover no-repeat;
position: absolute;
left: 30px;
top:92px;
bottom: 102px;


}

.VeiwMore{
display: inline;
width: 80px;
height: 26px;
padding: 2px;
border-radius: 3.094px;
background: #2B7FFF;
position: absolute;
top: 255px;
right: 46px;
}
.VeiwMore:hover{
    background-color: #1AD63D;
}

.fe{
      
    width: 340px;
    background-color:gray;
    height: 340px;

    position: absolute;
    top: 340px;

}
.fe p.one{
color: #1E2939;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.72px;
}
.fe p.two{
 color: #1E2939;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.3px;
}
.fe p.three{
color: #000;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.3px;
position: absolute;

left: 15px;
top: 201px;
}
.fe p.dd{
color: #2e2c2c;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 140px;
position: absolute;

left: 15px;
top: 220px;
}
.fe p.Readmore{
color: #000;
font-family: Inter;
font-size: 10.182px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.305px;
position: absolute;
left: 15px;
top: 260px;
}
.fe p.Readmore:hover{
    color: #1AD63D;
}
.fe p.three.three2{
 
    position: absolute;
    left: 190px;
}
.ddtwo{
color: #2e2c2c;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 140px;
position: absolute;

left: 190px;
top: 230px;
}
.fe p.Readmore.one{
    position: absolute;
    left: 190px;


}
.blog-box{
    height: 344px;
    width: 340px;
    background-color: #57CB9B;
    position: absolute;
    bottom: 0px;

}
.fe-image2{
    width: 140.848px;
    height: 89.091px;
    flex-shrink: 0;
    border-radius: 13.576px 0 13.576px 13.576px;
    background: url('krishna photos/download (1).png') lightgray 50% / cover no-repeat;
     position: absolute;
    left: 188px;
    top:100px;
    right: 12px;
    bottom: 161px;

}
.fe-image1{
    width: 140.848px;
    height: 89.091px;
    flex-shrink: 0;
    border-radius: 13.576px 0 13.576px 13.576px;
    background: url('krishna photos/download (6).jpg') lightgray 50% / cover no-repeat;
    position: absolute;
    left: 20px;
    top:100px;
    right:180.15;
    bottom: 161px;

}
.VeiwMore.one{
    position: absolute;
    top:300px;
}
.blog-image3{
    width: 87px;
    height: 64px;
    flex-shrink: 0;
    background-color: rgb(156, 156, 208);
    border-radius: 16px 0 16px 16px;
    background: url('krishna photos/download (2).jpg') lightgray 50% / cover no-repeat;
    position:absolute;
    left: 11px;
    top: 270px;
    left: 11px;  
}
.blog-image2{
    width: 87px;
    height: 64px;
    flex-shrink: 0;
    background-color: rgb(51, 51, 113);
    border-radius: 16px 0 16px 16px;
    background: url('krishna photos/download (3).jpg') lightgray 50% / cover no-repeat;
    position:absolute;
    top: 201px;
    left: 11px;

   

}
.blog-image1{
    width: 87px;
    height: 64px;
    flex-shrink: 0;
    background-color: rgb(97, 75, 15);
    border-radius: 16px 0 16px 16px;
    background: url('krishna photos/download (4).jpg')lightgray 50% / cover no-repeat;
    position:absolute;
    top: 132px;
    left: 11px;

    
    
}
.blog-imagebig{
    width:121px;
    height: 212px;
    border-radius: 8.478px 0 0 0;
    background: url('krishna photos/images (1).jpg') lightgray -211.751px 0px / 333.237% 99.94% no-repeat;
    background-color: blue;
    position: absolute;
    left:219px;
    top: 132px;
   
}
.link-text{
color: #000;
text-align: center;
font-family: Inter;
font-size: 11.243px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.337px;
position: absolute;
left: 100px;
top:120px;
}
.link-text.one{
    top: 135px;
}
.date-t{
color: #000;
font-family: Inter;
font-size: 8.432px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.253px;
position: absolute;
left: 100px;
top:152px;
}
.link-text.three{
    position: absolute;
    top: 189px;

}
.link-text.four{
    position: absolute;
    top: 201px;

}
.date-t.one{
    position: absolute;
    left:100px;
    top:220px;
}
.link-text.five{
  position: absolute;
  top: 260px;
  left: 100px;
}
.link-text.six{
  position: absolute;
  top: 270px;
  left: 100px;

}
.date-t.two{
    position: absolute;
    left:100px;
    top:285px;
}
.blog-para{
padding: 30px;
color: #000;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.72px;
}