body{
    width: 1396px;
    height: 970px;
    background: linear-gradient(90deg, #57CB9B 0%, #1C1515 100%);
    margin-left: 44px;
    margin-top: 46px;
   
}
.box1{
    width:987px;
    height: 660px;
    padding: 8px 20px 8px 20px;
    border-radius: 16px 0 0 0;
    border: 1px solid #000;
    background: linear-gradient(240deg, rgba(100, 196, 207, 0.70) 39.79%, rgba(122, 225, 81, 0.70) 72.59%);
   
    position: relative;
        
}
.box3{
    width: 987px;
    height: 292px;
    background-color:lightgray;
    padding: 8px 20px 8px 20px;
    border: 1px;

    position:absolute;
    top: 723px;
    left: 44px;
    /* right: 369px; */
    /* bottom: -102px; */
}
.menu{
display: inline-flex;
padding: 10px 0;
align-items: center;
gap: 64px;
margin: 16px;

}
.ReadGita{
display: inline-flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: #FFF;
position: absolute;
top: 24px;
right: 31px;

}
h1{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 13px;
align-self: stretch;

}

.despara{
display: flex;
width: 409px;
height: 80px;
flex-direction: column;
justify-content: center;
color: #364153;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;

}
.box2{
width: 200px;
height: 300px;
border-radius: 28px 0 28px 28px;
border: 1px solid #C3BFBF;
background: url('krishna photos/download (7).jpg') lightgray 0.801px -0.291px / 100% 131.73% no-repeat;
box-shadow: 0 4px 10px 4px rgba(77, 43, 43, 0.25);
position: absolute;
right: 70px;
top: 140px;

}
.navbar{
display: flex;
width: 900px;
height: 51px;
padding: 10px;
justify-content: space-between;
align-items: center;
margin: 180px 0px 87px 0px;
}
.float-name{
display: inline-flex;
padding: 10px;
color: hsl(255, 12%, 80%);
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: rgba(92, 111, 187, 0.20);

position:absolute;
top: 30px;
right: -40px;
}
.float-role{
    background: rgba(92, 111, 187, 0.20);
    border-radius: 8px 0px ;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap:10px;

    position: absolute;
    top: 150px;
    left: -50px;
}
.Explore{
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #56AAAA;
    position: absolute;
    left: 16px;
    
}

.box4{
width: 272.544px;
height: 216px;
background: url('krishna photos/download (5).jpg') rgb(130, 40, 40) 0px -46.463px / 105.304% 121.388% no-repeat;
position: absolute;
top: 41px;
bottom: 58px;
left: 76px;
right: 678.46px;

}
.line{
width: 987px;
height: 2px;
background: linear-gradient(90deg, #1AD63D 50%,#287CCF 50%);
position: absolute;
top: 285px; 
bottom: 30px;
}
.line_text{
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;

position: absolute;
left: 351px;
right: 350px;
bottom:14px;
top: 291px;
    
}
.headerTextBox3{
display: flex;
height: 37px;
flex-direction: column;
justify-content: center;
align-self: stretch;
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.48px;

position: absolute;
top: 75px;
left: 380px;
right:118px;

}
.desTextBox3{
 color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
position: absolute;
top: 112px;
bottom: 196px;
left: 380px;
right: 194px;
}
.learnmore{
padding: 5.05px;
border-radius: 4.038px;
position: absolute;
top: 169px;
left: 380px;
bottom: 125px;
right: 594px;


}
.box5{
    height: 1024px;
    width: 340px;
    background-color: #000;
    align-content: end;
    position: absolute;
    right: 0px;
    top:0px;
}
.box6{
   
    width: 340px;
    background-color: #FFF;
    height: 340px;

    position: absolute;
    top:0px;
}
.box7{
      
    width: 340px;
    background-color:gray;
    height: 340px;

    position: absolute;
    top: 340px;

}
.box8{
    height: 344px;
    width: 340px;
    background-color: #57CB9B;
    position: absolute;
    bottom: 0px;

}
.box9{
display: flex;
width: 306px;
height: 146px;

border-radius: 12px 0 0 12px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
position: absolute;
left: 30px;
top:92px;
bottom: 102px;


}
.box10{
    width: 140.848px;
    height: 89.091px;
    flex-shrink: 0;
    border-radius: 13.576px 0 13.576px 13.576px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
     position: absolute;
    left: 188px;
    top:100px;
    right: 12px;
    bottom: 161px;

}
.box11{
    width: 140.848px;
    height: 89.091px;
    flex-shrink: 0;
    border-radius: 13.576px 0 13.576px 13.576px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    position: absolute;
    left: 20px;
    top:100px;
    right:180.15;
    bottom: 161px;

}
.box12{
    width: 87px;
    height: 64px;
    flex-shrink: 0;
    background-color: rgb(156, 156, 208);
    border-radius: 16px 0 16px 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    position:absolute;
    left: 11px;
    top: 270px;
    left: 11px;

   
    
    
}
.box13{
    width: 87px;
    height: 64px;
    flex-shrink: 0;
    background-color: rgb(51, 51, 113);
    border-radius: 16px 0 16px 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    position:absolute;
    top: 201px;
    left: 11px;

   

}
.box14{
    width: 87px;
    height: 64px;
    flex-shrink: 0;
    background-color: rgb(97, 75, 15);
    border-radius: 16px 0 16px 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    position:absolute;
    top: 132px;
    left: 11px;

    
    
}
.box15{
    width: 100px;
    height: 212px;
    border-radius: 8.478px 0 0 0;
    background: url(<path-to-image>) lightgray -211.751px 0px / 326.237% 97.859% no-repeat;
    background-color: blue;
    position: absolute;
    left:241px;
    top: 132px;
   
}
